Repository Sonia-corporation/achievements: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:hook, npm run prettier:hook

chore: svelte scaffolding
  .eslintrc.yml
  .gitignore
  .idea/il-est-midi.iml
  .idea/modules.xml
  .idea/vcs.xml
  .npmrc
  .prettierignore
  README.md
  package-lock.json
  package.json
  src/app.html
  src/global.d.ts
  src/routes/index.svelte
  svelte.config.js
  tsconfig.json
Due: npm run lint:hook, npm run prettier:hook

chore: fix linters
  .lintstagedrc
  .prettierignore
  .prettierrc
  CONTRIBUTING.md
  src/app.html
  src/global.d.ts
  svelte.config.js
  tsconfig.json
Due: npm run lint:hook, npm run prettier:hook

chore: add prettier rules for svelte
  .prettierrc
  package.json
Due: npm run prettier:hook

chore: add more config to svelte
  svelte.config.js
Due: npm run lint:hook

chore: configure svelte as pure front app
  .eslintignore
  .github/semantic.yml
  .prettierignore
  docs/_app/assets/start-a8cd1609.css
  docs/_app/chunks/vendor-60ec356f.js
  docs/_app/pages/__error.svelte-b18de40a.js
  docs/_app/pages/__layout.svelte-4a23e0be.js
  docs/_app/pages/home/index.svelte-9ae3bb4d.js
  docs/_app/pages/index.svelte-19f522cc.js
  docs/_app/start-8b9dec41.js
  docs/index.html
  docs/service-worker.js
  package-lock.json
  package.json
  src/routes/__error.svelte
  src/routes/__layout.svelte
  src/routes/home/index.svelte
  src/routes/index.svelte
  src/service-worker.ts
  svelte.config.js
Due: npm run lint:hook, npm run prettier:hook

chore: undo change on comment
  .github/semantic.yml
Due: npm run prettier:hook

build(release): use gh-pages script to deploy and fix paths issues
  .github/workflows/automerge.yml
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
  docs/_app/assets/start-a8cd1609.css
  docs/_app/chunks/vendor-60ec356f.js
  docs/_app/pages/__error.svelte-b18de40a.js
  docs/_app/pages/__layout.svelte-4a23e0be.js
  docs/_app/pages/home/index.svelte-9ae3bb4d.js
  docs/_app/pages/index.svelte-19f522cc.js
  docs/_app/start-8b9dec41.js
  docs/index.html
  docs/service-worker.js
  package-lock.json
  package.json
  src/app.html
  src/routes/__layout.svelte
  svelte.config.js
Due: npm run lint:hook, npm run prettier:hook

build(release): fix tag fetching issue
  .github/workflows/release.yml
Due: npm run prettier:hook

docs(readme): update the scripts
  README.md
Due: npm run prettier:hook

chore(eslint): remove a rule that cancel code climate
  .eslintrc.yml
Due: npm run prettier:hook

docs(readme): fix code climate badge
  README.md
Due: npm run prettier:hook

docs(readme): fix some badges
  README.md
Due: npm run prettier:hook

feat(icons): add favicons and manifest
  package.json
  src/app.html
  static/android-chrome-144x144.png
  static/android-chrome-192x192.png
  static/android-chrome-256x256.png
  static/android-chrome-36x36.png
  static/android-chrome-384x384.png
  static/android-chrome-48x48.png
  static/android-chrome-72x72.png
  static/android-chrome-96x96.png
  static/apple-touch-icon-114x114-precomposed.png
  static/apple-touch-icon-114x114.png
  static/apple-touch-icon-120x120-precomposed.png
  static/apple-touch-icon-120x120.png
  static/apple-touch-icon-144x144-precomposed.png
  static/apple-touch-icon-144x144.png
  static/apple-touch-icon-152x152-precomposed.png
  static/apple-touch-icon-152x152.png
  static/apple-touch-icon-180x180-precomposed.png
  static/apple-touch-icon-180x180.png
  static/apple-touch-icon-57x57-precomposed.png
  static/apple-touch-icon-57x57.png
  static/apple-touch-icon-60x60-precomposed.png
  static/apple-touch-icon-60x60.png
  static/apple-touch-icon-72x72-precomposed.png
  static/apple-touch-icon-72x72.png
  static/apple-touch-icon-76x76-precomposed.png
  static/apple-touch-icon-76x76.png
  static/apple-touch-icon-precomposed.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/mstile-70x70.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
Due: npm run prettier:hook

build(release): new version 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier:hook

Notes added by 'git notes add'
  29dbe88f27c9a7d9ed766b66311cb73276917f40
Due: none

build(release): include the right content for the npm release
  .releaserc.json
Due: npm run prettier:hook

build(gh): set the right path for the build and deployment to gh pages
  package.json
  src/index.html
Due: npm run prettier:hook

docs(readme): include website link
  README.md
Due: npm run prettier:hook

chore(package): enable the debug of gh-pages
  package-lock.json
  package.json
Due: npm run prettier:hook

build: clean build folder beforehand
  package.json
Due: npm run prettier:hook

fix(link): fix bad link to go back to the home page
  src/routes/__layout.svelte
Due: none

chore(lint): add new scripts to easily lint everything
  .lintstagedrc
  package-lock.json
  package.json
Due: npm run prettier:hook

chore(lint): ignore build folder for eslint
  .eslintignore
Due: none

feat(seo): add custom meta for each page
  src/app.html
  src/routes/__error.svelte
  src/routes/home/index.svelte
  src/routes/index.svelte
Due: npm run prettier:hook

fix(index): fix a bad url failing the build
  src/routes/index.svelte
Due: none

build(lint): fix lint step in the CI
  .github/workflows/build.yml
Due: npm run prettier:hook

build(release): new version 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier:hook

Notes added by 'git notes add'
  0ad2c1c7e1e2732a415058c53f5eb52943a1c7cd
Due: none

fix(release): include the whole dist for GitHub release
  .idea/misc.xml
  .releaserc.json
Due: npm run prettier:hook

build(release): new version 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier:hook

Notes added by 'git notes add'
  a966d94c2bd5e9660a1ba87ed134b781e57bd4dd
Due: none

fix(release): do not include the build folder in GitHub
  .releaserc.json
Due: npm run prettier:hook

Updates
  _app/chunks/vendor-60ec356f.js
  _app/chunks/vendor-a0ab9ea4.js
  _app/pages/__error.svelte-e983df5e.js
  _app/pages/__error.svelte-f88b7964.js
  _app/pages/__layout.svelte-470c9c46.js
  _app/pages/__layout.svelte-cd3cffa1.js
  _app/pages/home/index.svelte-6d038f24.js
  _app/pages/home/index.svelte-ed3cc599.js
  _app/pages/index.svelte-20e68d53.js
  _app/pages/index.svelte-82693f34.js
  _app/start-4ec4196b.js
  _app/start-a7d236bd.js
  home/index.html
  index.html
Due: npm run lint:hook, npm run prettier:hook

chore(deps): pin dependency concurrently to 6.2.0
  package-lock.json
  package.json
Due: npm run prettier:hook

chore(deps): update dependency eslint-plugin-import to v2.23.4
  package-lock.json
  package.json
Due: npm run prettier:hook

chore(deps): update dependency eslint-plugin-rxjs to v3.3.3
  package-lock.json
  package.json
Due: npm run prettier:hook

chore(deps): update dependency prettier to v2.3.0
  package-lock.json
  package.json
Due: npm run prettier:hook

Path conditions:
  npm run lint:hook: any of: *.{ts,js}
  npm run prettier:hook: any of: *.{md,json,yml,html}
