Repository Sonia-corporation/achievements: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency @sveltejs/adapter-static to v1.0.0-next.12
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @sveltejs/kit to v1.0.0-next.111
  package.json
Due: npm run lint:other:hook

chore(deps): undo upgrade of svelte
  package.json
Due: npm run lint:other:hook

chore(deps): add chalk
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(logs): log the svelte version on init
  lib/components/svelte-version/svelte-version.svelte
  lib/features/logger/services/logger.service.ts
  src/routes/__layout.svelte
  tsconfig.json
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v35.1.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

build(release): remove the auto-merge label from the release pr
  .github/workflows/release.yml
Due: npm run lint:other:hook

chore(git): unignore idea iml file
  .gitignore
  .idea/achievements.iml
Due: none

chore(lint): allow to lint the lintstage and manifest files as well
  .lintstagedrc
  .lintstagedrc.json
  package.json
Due: npm run lint:other:hook

feat(webapp): improve the webmanifest
  static/site.webmanifest
Due: none

feat(css): support last 2 versions
  .browserslistrc
Due: none

chore(deps): add new dependencies to support css
  lib/components/svelte-version/svelte-version.svelte
  package-lock.json
  package.json
  src/routes/__error.svelte
  src/routes/__layout.svelte
  src/routes/home/index.svelte
  src/routes/index.svelte
Due: npm run lint:other:hook

fix(manifest): fix the paths for the icons
  static/site.webmanifest
Due: none

chore(dev): do not include the manifest on local dev
  src/routes/__error.svelte
  src/routes/home/index.svelte
  src/routes/index.svelte
Due: npm run lint:other:hook

build(scss): allow tu support scss and prefix with vendors plus reset
  lib/styles/_variables.scss
  lib/styles/imports.scss
  package-lock.json
  package.json
  svelte.config.js
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(lint): lint cjs files
  .lintstagedrc.json
  package-lock.json
  package.json
  svelte.config.js
Due: npm run lint:ts:hook, npm run lint:other:hook

feat(ui): add the default tailwind config
  .eslintignore
  .gitignore
  lib/styles/_tailwind.scss
  package-lock.json
  package.json
  src/app.html
  tailwind.config.cjs
  tsconfig.json
Due: npm run lint:other:hook

style: change quotes
  lib/styles/imports.scss
Due: none

build(release): new version 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run lint:other:hook

Notes added by 'git notes add'
  b17ab107b364e081cf20b24657eba6196b62f536
Due: none

Updates
  _app/assets/start-a8cd1609.css
  _app/assets/start-f42ac736.css
  _app/chunks/vendor-319757cd.js
  _app/chunks/vendor-a0ab9ea4.js
  _app/pages/__error.svelte-552426dc.js
  _app/pages/__error.svelte-e983df5e.js
  _app/pages/__layout.svelte-1f3583ad.js
  _app/pages/__layout.svelte-cd3cffa1.js
  _app/pages/home/index.svelte-982edd05.js
  _app/pages/home/index.svelte-ed3cc599.js
  _app/pages/index.svelte-422340b3.js
  _app/pages/index.svelte-82693f34.js
  _app/start-23e569d7.js
  _app/start-a7d236bd.js
  home/index.html
  index.html
  site.webmanifest
  tailwind.min.css
Due: npm run lint:ts:hook, npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v35.1.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @typescript-eslint/eslint-plugin to v4.26.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

feat(tailwind): configure it for jit
  lib/styles/_tailwind.css
  lib/styles/_tailwind.scss
  lib/styles/_variables.scss
  lib/styles/base/_base.body.css
  lib/styles/base/_base.imports.css
  lib/styles/imports.scss
  package-lock.json
  package.json
  postcss.config.cjs
  src/app.html
  svelte.config.js
  tailwind.config.cjs
Due: npm run lint:ts:hook, npm run lint:other:hook

build(tailwind): improve the watch mode
  lib/tailwind.css
Due: none

build(tailwind): improve the watch mode
  lib/tailwind.css
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): pin dependency npm-watch to 0.9.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @typescript-eslint/parser to v4.26.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v35.1.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency tailwindcss to v2.1.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @sveltejs/adapter-static to v1.0.0-next.13
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency tailwindcss to v2.1.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint to v7.28.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency prettier to v2.3.1
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency eslint-plugin-jsdoc to v35.1.3
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency @sveltejs/kit to v1.0.0-next.113
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency postcss to v8.3.2
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency npm-watch to v0.10.0
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency semantic-release to v17.4.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

chore(deps): update dependency typescript to v4.3.4
  package-lock.json
  package.json
Due: npm run lint:other:hook

Path conditions:
  npm run lint:ts:hook: any of: *.{ts,js}
  npm run lint:other:hook: any of: *.{md,json,yml,html,svelte}
